body{
  background-color: white;
}
.login-container {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #000000, #434343, #d9d9d9);
}

h2 {
  margin-bottom: 20px; 
}

.form-group {
  margin-bottom: 15px; 
}

label {
  display: block;
  margin-bottom: 5px; 
}

input {
  width: 280px;
  padding: 8px;
  border: 1px solid #ccc; 
  border-radius: 4px;
}

button {
  margin-top: 20px;
  width: 100%; 
  padding: 17px; 
  background-image: linear-gradient(to right, #294b99, #264382, #243a6b, #223255, #20293f, #212c49, #222f52, #24315c, #393b86, #603fad, #9439cc, #d00ee3);
  color: white;
  border: none; 
  border-radius: 9px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.login {
  position: relative;
   
}
.login a {
  content: "";
  position: absolute;
  top: -5px;
  right: 20px;
  font-size: 13px;
  color: #2ae611;
}