.result__content{
  margin: 30px 0;
  width: 100%;
}
.container__res{
  max-width: 90%;
  margin: 0 auto;
  
}
.res__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 9px;
  box-shadow: 11px 7px 22px 11px rgba(166, 152, 152, 0.466);
  -webkit-box-shadow: 11px 7px 22px 11px rgba(166,152,152,0.67);
  -moz-box-shadow: 11px 7px 22px 11px rgba(166,152,152,0.67);
}
.result__content h2{
  font-size: 35px;
}
.res__content--left{
  display: flex;
  gap: 20px;
  align-items: center;
}
.content__left--detail{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.content__left--detail i{
  display: inline-flex;
  gap: 10px;
}
.content__left--detail h4{
  color: cadetblue;
}
.res__content--right button{
  background-image: none;
}

@media (max-width: 480px) {
  .result__content h2{
    font-size: 20px;
  }
  .res__item{
    justify-content: space-around;
    padding: 15px 5px;
  }
  .res__content--left{
    gap: 7px;
  }
  .content__left--detail i{
    font-size: 12px;
    gap: 5px;
  }
  .res__content--right button{
    width: 60px!important;
    font-size: 12px;
  }
  
}